# .gitignore
*.py[cod]
*.egg-info/
.cache
.pytest_cache
__pycache__

# testing output
*.xml
*.log
cover
.coverage
htmlcov
__snapshots
mycustompath

# packaging
MANIFEST
dist
build

# mac
.DS_Store

# IDE
/.idea
.vscode

# docs output
docs/build
docs/out
